body{
    margin-left: auto;
    margin-right: auto;
    width: 70%;
    background-color: blueviolet;
}
footer ul{
    list-style-type: none;
    margin:0;
    padding: 0;
    text-align:justify;
}
footer div{
    float:left;
    margin: 10px;
}
footer p.end{
    float: left;
    position: static;
    bottom: 10px;
    padding-top: 100px;
    margin-top: 0px;
}
footer h3{
    font-size: large;
    color:aquamarine;
}
